<!DOCTYPE html>
{% load staticfiles %}


<html lang="en" xmlns:top="http://www.w3.org/1999/xhtml">
    <head>
        <script src="{% static 'twitter/jquery-1.12.1.min.js' %}"></script>
        <script language="JavaScript" type='text/javascript' src="{% static 'twitter/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}" />
        <link rel="icon" type="image/png" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-11-05/d2638317c185659c4e458da1129d217e.ico"/>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
    </head>

    <body>
        <header><h6 class="to_main"><a href="/">back to main</a></h6></header>
        <div>
            <div class="leftblock">
                {% block leftblock %}{% endblock %}

                <div class="centercolumn">
                    {% if request.user.nickname == author.nickname %}
                    <div class="post_form">
                        <form class="js-submit_post" style="padding-bottom: 20px; margin-top: 2px;" method="post" action="{% url 'submit_post' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="author" value="{{ request.user.id }}" />
                            <div style="display:inline;"><div class="post_input_field"><input maxlegth="170" name="tweet_text" type="text" size="40"/>
                            <input style="width:1px; visibility:hidden;" type="file" name="image" value="img" id="upload_image_button"/> <input type="button" id="upload_buffer_button" value="📷"/>
                            <input style="margin-right:-30px;" type="submit" value="▼" /></div>
                            </div>
                        </form>
                    </div>
                    {% endif %}

                    {% block tweet_set %}{% endblock %}
                    </div>
                </div>
            </div>
        {% if request.user != author and request.user.is_authenticated%}
            <div class="rightblock">
                <input type="button" data-follow-url="{% url 'follow' author.id %}" data-unfollow-url="{% url 'unfollow' author.id %}" {% if author in request.user.follow.all %} class="js-unfollow_button" value="Unfollow" {% else %} class="js-follow_button" value="Follow" {% endif %}>
            </div>
        {% endif %}
        </div>
    </body>
</html>