{% extends 'twitter/base.html' %}

{% block title %}
    <title>Feed</title>
{% endblock %}


{% block leftblock %}
    <div class="leftcolumn" style="border-radius: 0px 0px 30px 30px;">
        <a href="/feed"><h5>Your feed</h5></a>
        <a href="/notifications"><h5>Your notifications</h5></a>
        <a href="{% url "tweets" request.user.nickname %}"><h5>Your page</h5></a>
    </div>
{% endblock %}

{% block tweet_set %}
    {% for tweet in tweet_set %}
        <span class="tweet_wrap">
            {% if tweet.reposted_from != None %}
                <div class="reposted_tweet">
                    <h6 style="text-align: left; background-color:#223634; border:15px solid #223634; "><a href='/@{{ tweet.reposted_from.author.name }}'> <span class="bigger">⤷</span><strong> {{ tweet.reposted_from.author.name }}</a></strong> @{{ tweet.reposted_from.author.nickname }}</h6>
                    <p class="tweet_date"><a href='{{ tweet.reposted_from.get_absolute_url }}'>{{ tweet.reposted_from.pub_date|date:"d M" }}</a>{% if request.user == author %}<span class="js-delete_post" data-delete-url="{% url "delete_post" tweet.id %}"><a href="#">✖</a></span>{% endif %}</p>
                    <h4 class="tweet_text">{{ tweet.reposted_from.tweet_text }}</h4>
                    <p class="tweet_image">{% if tweet.reposted_from.image %}<img src="{{ tweet.reposted_from.image.url }}"/>{% endif %}</p>
            {% else %}
                <div class="tweet">
                    <h6 style="text-align: justify; word-spacing:20px;"><strong><a href='/@{{ tweet.author.name }}'>{{ tweet.author.name }}</a></strong> @{{ tweet.author.nickname }}</h6>
                    <p class="tweet_date"><a href='{{ tweet.get_absolute_url }}'>{{ tweet.pub_date|date:"d M" }}</a>{% if request.user == author %}<span class="js-delete_post" data-delete-url="{% url "delete_post" tweet.id %}"><a href="#">✖</a></span>{% endif %}</p>
                    <h4 class="tweet_text">{{ tweet.tweet_text }}</h4>
                    <p class="tweet_image">{% if tweet.image %}<img src="{{ tweet.image.url }}"/>{% endif %}</p>
            {% endif %}
            <div style="display:inline-flex; flex:auto;">
                <p class="tweet_repost"><a href="#" class="js-repost_button" data-repost-url="{% url 'repost' tweet.id %}">↪</a></p>
                <p class="tweet_likes"><a href="#" class="like_button{% if request.user in tweet.likes.all %} already_liked{% endif %}" data-like-url="{% url 'add_like' tweet.id %}" data-dislike-url="{% url 'remove_like' tweet.id %}"><span class='like_counter'>{{ tweet.likes.count }}</span><span class="bigger"> ♥ </span></a></p>
            </div>
            <div class="comment_list">
                <p style="margin-top:-20px;">{% for comment in tweet.commentary_set.all %}</p>
                    <p style="text-align: left;" class="commentary"> <a href="/@{{ comment.author.nickname }}">
                        <img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src='{{ comment.author.photo_url }}'></a>
                        {{ comment }} {{ comment.pub_date|date:"H:i, d.M" }} {% if tweet.author == request.user %}<span class="js-delete_comment" data-delete-comment-url="{% url "delete_comment" tweet.id comment.id %}"><a href="#">✖</a></span>{% endif %}</p>
                {% endfor %}
            </div>
            </div>

            {% if request.user.is_authenticated %}
                <div class="comment_form">
                    <form class="js-submit_comment" method="post" action="{{request.path}}" enctype="multipart/form-data" data-comment-author-photo-url="{{ request.user.photo_url }}" data-comment-author-nickname="{{ request.user.nickname }}">
                        {% csrf_token %}
                        <input type='hidden' name='author' value='{{ request.user.id }}' />
                        <input type='hidden' name='tweet' value='{{ tweet.id }}' />
                        <input class="text_field" maxlength="170" name="comment" type="text" />
                        <input class="submit_button" type="submit" value="▶" />
                    </form>
                </div>
                </span>
            {% endif %}
    {% endfor %}
{% endblock %}