<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}" />
    <link rel="icon" type="image/png" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-11-05/d2638317c185659c4e458da1129d217e.ico"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="{{request.path}}" enctype="multipart/form-data" id="signupform">
            {% csrf_token %}
            {{ request.user.is_anonymous }}
            {{ form.as_p }}
            <p><input type="submit" value="Send">
               <input type="reset" value="Reset"></p>
    </form>

    <h6 style="text-align:center; margin-top: 180px;"><a href="/">back to main</a></h6>
</body>
</html>