<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}" />
    <script src="{% static 'twitter/jquery-1.12.1.min.js' %}"></script>
    <script language="JavaScript" type='text/javascript' src="{% static 'twitter/script.js' %}"></script>
    <link rel="icon" type="image/png" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-11-05/d2638317c185659c4e458da1129d217e.ico"/>
    <meta charset="UTF-8">
    <title>uuitor 2.0 </title>
</head>
<body style="background:url('https://pp.vk.me/c617923/v617923045/10c9/E0Lu0DThFVc.jpg'); background-size: cover;">
    <div><p class="uuitor">uuitor 2.0</p></div>
<div class="main_block">
    <a href="/admin"><h6 style="text-align: center;">In progress...</h6></a>
    <a href="/@{{ request.user }}"><p>{{ request.user }}</p></a>
    <a href="/@{{ request.user }}"><img src="{{ request.user.photo_url }}" style="width:10%;border-radius: 30px;"/></a>
    <h6 style="text-align: center;"> {% for post in object_list %}
        <p>{{ post.tweet_text }} {{ post.pub_date }} {{ post.likes }} </p>
        {% endfor %}
        <a href="/signup">Sign up</a><p></p>
        <a href="/login">Login</a><p></p>
        <a href="/logout">Logout</a>
    </h6>
</div>
</body>
</html>
