{% extends 'twitter/base.html' %}

{% block title %}
    <title>{{ request.user }}'s notifications</title>
{% endblock %}

{% block leftblock %}
    <div class="leftcolumn" style="border-radius: 0px 0px 30px 30px;">
        <a href="/feed"><h5>Your feed</h5></a>
        <a href="/notifications"><h5>Your notifications</h5></a>
        <a href="{% url "tweets" request.user.nickname %}"><h5>Your page</h5></a>
    </div>
{% endblock %}

{% block tweet_set %}
    {% for event in event_set.all %}
        <div class="tweet">
            {% if event.get_event_type_display == "лайк" %}
                <a href="{% url 'tweets' event.from_who.nickname %}"><img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src="{{ event.from_who.photo_url }}"/>
                <span class="tweet_text">{{ event.from_who.nickname }}</a> {{ event.event_type }}d your tweet <a href="{% url 'tweet_by_slug' request.user.nickname event.tweet.slug %}"><strong>«{{ event.tweet.tweet_text }}»</strong></a></span>
                <span class="tweet_date">{{ event.datetime|date:"d M H:i" }}</span>
            {% elif event.get_event_type_display == "репост" %}
                <a href="{% url 'tweets' event.from_who.nickname %}"><img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src="{{ event.from_who.photo_url }}"/>
                <span class="tweet_text">{{ event.from_who.nickname }}</a> {{ event.event_type }}ed your tweet <a href="{% url 'tweet_by_slug' event.from_who.nickname event.tweet.slug %}"><strong>«{{ event.tweet.tweet_text }}»</strong></a></span>
                <span class="tweet_date">{{ event.datetime|date:"d M H:i" }}</span>
            {% elif event.get_event_type_display == "подписка" %}
                <a href="{% url 'tweets' event.from_who.nickname %}"><img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src="{{ event.from_who.photo_url }}"/>
                <span class="tweet_text">{{ event.from_who.nickname }}</a> is now {{ event.event_type }}ing you </span>
                <span class="tweet_date">{{ event.datetime|date:"d M H:i" }}</span>
            {% elif event.get_event_type_display == "отписка" %}
                <a href="{% url 'tweets' event.from_who.nickname %}"><img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src="{{ event.from_who.photo_url }}"/>
                <span class="tweet_text">{{ event.from_who.nickname }}</a> isn't following you anymore </span>
                <span class="tweet_date">{{ event.datetime|date:"d M H:i" }}</span>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}