<!DOCTYPE html>
{% load twitter_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testpage</title>
</head>
<body>
    <p>hello #world again</p>
    <p>{{ text|tagify }}</p>
</body>
</html>