<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script language="JavaScript" type='text/javascript' src="{% static 'twitter/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}" />
    <link rel="icon" type="image/png" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-11-05/d2638317c185659c4e458da1129d217e.ico"/>
    <meta charset="UTF-8">
    <title>{{ tweet.slug|title }} | uuitor 2.0 </title>
</head>
<body>
    <div class="leftblock">
        <p><div class="leftcolumn"><img class="avatar" src="{{ tweet.author.photo_url }}"></p>
        <p><a href="/@{{ tweet.author.name }}">Name: {{ tweet.author.name }} </a></p>
        <p>Slug: @{{ tweet.author.nickname }} </p>
        <p>Email: {{ tweet.author.email }} </p></div>
        <div class="centercolumn">
        <span class="tweet_wrap">
        <div class="tweet">
            <h6 style="text-align: left;"><a href='{{ request.path }}'>{{ tweet.tweet_text }}</a></h6>
            <p class="tweet_date"><a href='{{ tweet.get_absolute_url }}'>{{ tweet.pub_date|date:"d M" }}</a>{% if request.user == author %}<span class="js-delete_post" data-delete-url="{% url "delete_post" tweet.id %}"><a href="#">✖</a></span>{% endif %}</p>
            <p class="tweet_image">{% if tweet.image %}<img src="{{ tweet.image.url }}">{% endif %}</p>

            <div style="display:inline-flex; flex:auto;">
                <p class="tweet_repost"><a href="#" class="js-repost_button" data-repost-url="{% url 'repost' tweet.id %}">↪</a></p>
                <p class="tweet_likes"><a href="#" class="like_button{% if request.user in tweet.likes.all %} already_liked{% endif %}" data-like-url="{% url 'add_like' tweet.id %}" data-dislike-url="{% url 'remove_like' tweet.id %}"><span class='like_counter'>{{ tweet.likes.count }}</span><span class="bigger"> ♥ </span></a></p>
            </div>

            <div class="comment_list"><p style="margin-top:-20px;">{% for comment in tweet.commentary_set.all %}
            <p style="text-align: left;" class="commentary"> <a href="/@{{ comment.author.nickname }}">
                        <img style="height: 30px; border-radius:5px; margin: 0px 5px -10px 5px;" src='{{ comment.author.photo_url }}'></a>
                        {{ comment }} {{ comment.pub_date|date:"H:i, d.M" }} {% if tweet.author == request.user %}<span class="js-delete_comment" data-delete-comment-url="{% url "delete_comment" tweet.id comment.id %}"><a href="#">✖</a></span>{% endif %}</p>
                {% endfor %} </div></div>

            {% if request.user.is_authenticated %}
            <div class="comment_form">
            <form class="js-submit_comment" method="post" action="{{request.path}}" enctype="multipart/form-data" data-comment-author-photo-url="{{ request.user.photo_url }}" data-comment-author-nickname="{{ request.user.nickname }}">
                {% csrf_token %}
                <input type='hidden' name='author' value='{{ request.user.id }}' />
                <input type='hidden' name='tweet' value='{{ tweet.id }}' />
                <input class="text_field" maxlength="170" name="comment" type="text" />
                <input class="submit_button" type="submit" value="▶" />
            </form></div></span>
            {% endif %}
        </div></div>



    <h6 class="to_main"><a href="/">back to main</a></h6>
</body>
</html>