@font-face {
	font-family: Measure;
	src: url(Measure.ttf);
}

@font-face {
	font-family: BERNIERShade;
	src: url(BERNIERDistressed-Regular.otf);
}

@font-face {
    font-family: Dewberry-regular;
    src: url(Dewberry-regular.ttf);
}

@font-face {
    font-family: Monoid;
    src: url(Monoid.ttf);
}


.uuitor {
    font-family:'BERNIERShade';
    font-size:50px;
    text-align:center;
    position:absolute;
    top: 21%;
    left: 44%;
}

.main_block{
    margin-top:100px;
}

input {
    font-family: 'BERNIERShade', sans-serif;
}

html{
    height:100%;
}

body {
    text-align: center;
    background: url("https://pp.vk.me/c617923/v617923045/10c9/E0Lu0DThFVc.jpg");
    color: #a4a4a4;
    background-size: 90rem 40rem;
    background-color:#212121;
    background-position: center -10rem;
    background-repeat: no-repeat;
    background-attachment: inherit;
    font-family:'Dewberry-regular', sans-serif;
    /* display: inline-flex; */
    flex-wrap: nowrap;
    flex-direction: column;
}

.like_button {
    opacity:0.3;
}

.like_button:hover, .tweet_repost:hover {
    opacity:0.7;

}

.already_added, .reposted{
    color: #00cdff;
    opacity: 0.7;
}

.tweet h4{
    background-color:#3a2d38;
    color:black;
}

.tweet:hover, .tweet:active {
  box-shadow: 0 0 20px #3a2d38;
}

h6 {
    color:#a4a4a4;
}

a{
    text-decoration: none;
    color: #a4a4a4;
}

form {
    margin-top: 100px;
}
input {
    border: 0;
    padding: 12px;
    font-size: 18px;
}

.avatar {
    width: 90%;
    height: 90%;
    border: 3px solid;
    border-color:#223634;
    border-radius: 20px;
}

.leftblock {
    position:absolute;
    top: 3rem;
    display:flex;
    margin-top: 200px;
    /* background-color:#3a2d38; */
    width:100%;
    height:200%;
}
.rightblock {
    position:absolute;
    display:flex;
    right:15%;
    top:60%;
}

.leftcolumn {
    position: inherit;
    z-index:1;
    width: 200px;
    margin-left: 2rem;
    margin-top: -11.8rem;
    background:#223634;
    padding: 50px 20px 0 20px;
}

.centercolumn {
    position:inherit;
    width: 40.7%;
    padding: 10px;
    /* margin: 30%; */
    margin-left: 380px;
    margin-top: 140px;
}

.js-delete_post{
    padding-left:20px;
    opacity:0;
}

.js-delete_comment{
    position:absolute;
    right:4%;
    opacity:0;
}

.to_main {
    text-align:center;
    margin: auto;
    width:100%;
    background-color: #3a2d38;
    padding: 20px 0px 20px 0px;
    top:-2.3em;
}

.tweet {
    margin:auto;
    background:#223634;
    padding: 1px 10px 10px 0px;
}

.tweet h6{
    margin-left:10px;
}

.tweet_text {
    text-align:justify;
    margin-left:0.6rem;
}

.reposted_tweet{
    margin:auto;
    background:#3a2d38;
    padding: 1px 0px 20px 0px;
}

.tweet_image {
    margin:auto;
    background: #3a2d38;
    margin-bottom:100px;
    margin-left:10px;
}

.tweet_image img {
    margin:auto;
    margin-bottom: -4px;
    width:90%;
}

.reposted_image {
    background: #223634;
    width:550px;
    margin-left:-10px;
    margin-bottom:100px;
}

.reposted_image img {
    margin-bottom: -4px;
    margin-left:55px;
    width:90%;
}

.reposted_tweet p:nth-child(2), p:nth-child(4){
    padding-right:10px;
}

.text_field {
    border: 0;
    background: #3a2d38;
}

.submit_button {
    margin-left: -3px;
    background: #3a2d38;
}

.js-follow_button{
    margin-left: -3px;
    background: #544152;
    box-shadow: 0 0 20px #3a2d38;
}

.js-unfollow_button{
    margin-left: -3px;
    background: #3a2d38;
}

.tweet_date {
    font-size: 10px;
    text-align: right;
    margin-top: -35px;
}

.tweet_likes {
    display:inline;
    font-size: 10px;
    text-align: right;
    padding: 0 20px 20px 20px;
}

.tweet_repost {
    text-align: right;
    margin-top: 13px;
    padding: 0 20px 20px 20px;
    opacity:0.4;
}

.comment_form {
    margin-left:-75%;
    margin-right:-75%;
    height: 3rem;
    background: #3a2d38;
    margin-top:-90px;
    margin-bottom:50px;


}

#signupform label{
    display:none;
}

.bigger, .bigger_like{
    font-size: 200%;
    vertical-align:middle;
}

#background{
    display:flex;
    background-color:#223634;
    background-size: 100%;
}


.post_input_field{
    margin-top: 1rem;
    border: 0;
    background: #3a2d38;
}

.post_input_field input{
    background: #3a2d38;
}